{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="col-5">
            <h1>Products</h1>
            {% for prod in page_obj %}

                <div class="card">
                    <div class="card-body">
                        <p class="card-text"> {{ prod }}</p>
                        {% if prod.image %}
                            <img src="{{ prod.image.url }}" width="200" height="200"/>
                        {% else %}
                            <img src="{% static "no_image.webp" %}" width="200" height="200"/>
                        {% endif %}
                        <p class="card-text">
                            <a href="{% url "product_details" prod.id %}">
                                <button class="btn btn-default">Details</button>
                            </a>
                        </p>
                    </div>
                </div>

            {% endfor %}
            <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
            </div>
        </div>
    </div>
{% endblock %}